.p-tabview .p-tabview-nav { /*we're overriding the css of primeng component, this will not take any effects until setting ViewEncapsulation in the .ts file */
    justify-content: center;
}

.poster {
    max-width: 100%;
}

.stat {
    display: flex;
    margin-bottom: 15px;
}

.stat .label {
    width: 150px;
    font-weight: bold;
}

.value {
    color: orange;
}

.actor {
    padding: 10px;
}

.actor img {
    width: 100%;
}

.actor div {
    text-align: center;
}

.genres-links a {
    padding: 5px;
    background-color: red;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
}