<!-- <div class="slider" *ngIf="movies"> -->
    <!-- <ng-container *ngFor="let movie of movies.results; let movieIndex = index"> --> <!-- animation (here is @slideFade) can not apply to built-in Angular tags-->
    <!-- <ng-container *ngFor="let movie of movies; let movieIndex = index"> -->
<div class="slider" *ngIf="slides">
    <ng-container *ngFor="let movie of slides; let movieIndex = index">
    <div class="slide" *ngIf="movieIndex === slideIndex" @slideFade>
        <div class="slide-bg">
            <!-- <img src="{{imageBaseUrl + 'w1280' + movie.backdrop_path}}" alt="{{movie.title}}"> -->
            <img [src]="imageBaseUrl + 'w1280' + movie.backdrop_path" 
                 [alt]="movie.title"
            />
        </div>
        <div class="slide-pane">
            <h2 class="title">{{movie.original_title}}</h2>
            <div class="meta mb-4">
                <div class="rating mb-1"> <!-- mb-1 from PrimeFlex <=> margin-bottom: 0.25rem-->
                    <i class="pi pi-star-fill"></i> <!-- pi pi-star-fill from PrimeNG > primeicons -->
                    <span>{{movie.vote_average}}</span>
                    <span>/10</span>
                </div>
                <div class="votes mb-1">
                    <i class="pi pi-users"></i>
                    <span>{{movie.vote_count}}</span>
                </div>
                <div class="release-date">
                    <i class="pi pi-calendar"></i>
                    <span>{{movie.release_date}}</span>
                </div>
            </div>
            <div class="description">{{movie.overview}}</div>
        </div> 
    </div>
    </ng-container>
</div>    