/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primeicons/primeicons.css';
@import "primeng/resources/themes/mdc-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";

body {
    color: white;
    font-weight: 400;
    font-size: 14px;
    background: #141414;
}

.container {
    margin: 0.5rem;
    padding: 0.5rem;
}

a {
    color: white;
    text-decoration: none;
}